<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/output.css">
  <title>Binary Upload Boom | Login</title>
</head>
<body>
  <section class="mx-auto min-h-screen flex flex-col items-center justify-center">
    <div class="bg-white rounded-lg p-12 shadow-md w-fit">
      <h1 class="mb-6 text-3xl font-bold text-indigo-950  text-center tracking-tight">Login to your account 🕺</h1>


      <form class="mb-6 max-w-sm mx-auto" action="/login" method="POST">
        <div class="mb-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
          <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5" placeholder="name@gmail.com" required />
        </div>
        <div class="mb-5">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
          <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5" required />
        </div>
        <button type="submit" class="btn btn-secondary btn-lg w-full">Log In</button>
      </form>

      <p class="text-gray-600 text-sm">Don't have an account? <a class="text-primary hover:underline hover:primary" href="/signup">Signup</a></p>
    </div>
  </section>
</body>
</html>