<%- include('partials/header') %>
  <section class="max-w-md mx-auto px-6">
    <div class="py-16 sm:py-20">
      <div data-theme="light" class="card bg-base-100  shadow-sm w-fit">
        <figure class="aspect-[4/3]">
          <img src="<%= post.image %>" alt="Shoes" class="w-full h-full bg-cover" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            <%=post.title%>
          </h2>
          <p>
            <%=post.caption%>
          </p>
        </div>
      </div>
    </div>
  </section>