<%- include('partials/header') %>
  <section class="max-w-md mx-auto px-6">
    <div class="py-16 sm:py-20">
      <div data-theme="light" class="card bg-base-100  shadow-sm w-fit">
        <figure class="aspect-[4/3]">
          <img src="<%= post.image %>" alt="Shoes" class="w-full h-full bg-cover" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            <%=post.title%>
          </h2>
          <p>
            <%=post.caption%>
          </p>
          <% if(post.user==user.id){ %>
            <button class="btn btn-square btn-sm bg-secondary color-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                <path d="M3 6h18" />
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
              </svg>
            </button>
            <% } %>
        </div>
      </div>
    </div>
  </section>